<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.bio }}</p>
    <a href="{% url 'logout' %}">Logout</a>
    <h2>Social Media Integrations</h2>
    <ul>
        <li>
            <a href="{% url 'social:begin' 'twitter' %}">Connect Twitter</a>
        </li>
        <li>
            <a href="{% url 'social:begin' 'facebook' %}">Connect Facebook</a>
        </li>
    </ul>
</body>
</html>
